.curation {
    
    margin-top: 25vh;
    margin-left: 8vh;
    margin-bottom: 0px;
    left: 588px
}

.curation-header {
    display: flex; 
    gap: 279px;
    align-items: center;
    margin-left: 18px;
}

.curation-title {
    color: #000;

    /* Title_sm */
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
}

.curation-body {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 36px;

}

.curation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    border-radius: 30px 30px 30px 30px;

    width: 60vh;
    height: 30vh;
    transition: transform 0.2s ease, box-shadow 0.25s ease; /* 부드럽게 변하는 효과 */

}
.curation-item:hover {
    box-shadow: 0px 10px 22.4px 3px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);

}

.curation-img-container {
    width: 100%;
    height: 100%;
}

.curation-thumbnail {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 30px;
}

.curation-info-container {
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 122px;

    border-radius: 0px 0px 30px 30px;
    background: rgba(243, 243, 243, 0.7);     
}

.curation-chara {
    color: var(--Black_600, #666);

    /* Text_sm */
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    margin-top: 13px;
    margin-left: 18px;
    
}

.curation-item-title {
    color: var(--Black_800, #2E2E2E);

    /* Text_lg_1 */
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */

    margin-top: 10px;
    margin-left: 18px;
}

.curation-date {
    color: var(--Black_50, #EFEFEF);
    font-family: "Noto Sans KR";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 14px */

    margin-top: 21px;
    margin-left: 18px;
}

.curation-bookmark {
    width: 36px;
    height: 36px;
    flex-shrink: 0;

    margin-top: 13px;
    margin-right: 18px;
}

.overall {
    color: var(--Black_600, #666);

    /* Text_sm */
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 6%; /* 0.84px */
    text-underline-offset: 22%; /* 3.08px */
    text-underline-position: from-font;color: var(--Black_600, #666);
    text-align: center;

    cursor: pointer;
}