.footer {
    display: flex;
    width: 100%;
    height: 413px;
    flex-shrink: 0;
    background: var(--Black_800, #2E2E2E);
    margin-top: 5vh;
}

.footer-contents {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 80px;
    justify-content: center;
    margin: 0 auto;
}

.footer-up {
    display: flex;
    flex-direction: row;
    gap: 263px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-box {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;

    color: var(--Black_50, #EFEFEF);

    /* Text_sm */
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */

    align-self: stretch;
}

.info-menu {
    padding-inline-start: 0px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    align-self: stretch;

    list-style: none;
}

.info-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.social-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 407px;
    gap: 5px;

    color: var(--Primary_100, #FFEA96);

    /* Text_sm */
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}