.series {
    padding-top: 10vh;
    padding-left: 140px;
    margin-right: 20px;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 190px;
    bottom: 0px;
    padding-right: 33px;

}

.series::-webkit-scrollbar {
    width: 11px;

}

.series::-webkit-scrollbar-thumb {
    border-radius: 73px;
    background: #D9D9D9;
}

.series-header {
    display: flex;
    flex-direction: column;
    gap: 49px;
    align-items: flex-end;
    margin-right: 22%;

}

.series-title {
   
    color: #000;

    /* Title_sm */
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */

}

.series-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 36px;
    align-items: flex-end;

}

.series-item {
    display: flex;
    flex-direction: column;
    align-items: right;

    width: 50%;
    height: 320px;
    border-radius: 30px 30px 30px 30px ;

    transition: transform 0.2s ease, box-shadow 0.25s ease; /* 부드럽게 변하는 효과 */

}
.series-item:hover {
    box-shadow: 0px 10px 22.4px 3px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);

    cursor: pointer;

}

.series-img-container {
    width: 100%;
    height: 209px;
}

.series-thumbnail {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 30px 30px 0px 0px ;
}

.series-info-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;

    border-radius: 0px 0px 30px 30px;
    background: var(--Black_800, #2E2E2E);
}

.series-chara {
    width: 14px;
    height: 13.285px;

    padding: 15px 0px 0px 25px;
}

.series-item-title {
    color: var(--white, #FFF);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */

    padding: 2px 0px 0px 25px;
}

.series-contents-num {
    color: var(--Black_50, #EFEFEF);
    font-family: "Noto Sans KR";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 14px */

    padding: 26px 0px 18px 25px;
}


.story-page .navi-li-1:hover {
    color: var(--Primary_700, #FFCD00);
}

.story-page .navi-li-1 {
    color: var(--Primary_700, #FFCD00);
}

.festival-list-page .navi-li-4:hover {
    color: var(--Primary_700, #FFCD00);
}

.festival-list-page .navi-li-4 {
    color: var(--Primary_700, #FFCD00);
}

.highlight {
    position: relative;
}

.highlight::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 0.35em; /* 선의 두께 */
    background-color:  var(--Primary_700, #FFE680); /* 하이라이트 색 */
    transform: translateY(-30%);
    z-index: -1; /* 글자 뒤로 */
}
